data:
  config.yaml: |
    prometheus:
      retention: {{ ocp4_deployment_cluster_monitoring_userworkload_prometheus_retention }}
{% if ocp4_deployment_cluster_monitoring_userworkload_prometheus_volumeclaim_spec is defined and ocp4_deployment_cluster_monitoring_userworkload_prometheus_volumeclaim_spec != {} %}
      volumeClaimTemplate:
        metadata:
          name: userworkload-prometheus-volume
        spec:
{% filter indent(10, True) -%}
{{ ocp4_deployment_cluster_monitoring_userworkload_prometheus_volumeclaim_spec | to_nice_yaml }}
{% endfilter %}
{% endif %}
{% if groups.infra_nodes | d([]) | length > 0 %}
      tolerations:
{% filter indent(8, True) -%}
{{ hostvars[groups.infra_nodes|first].ocp4_deployment_cluster_nodes_taints | to_nice_yaml }}
{% endfilter %}
      nodeSelector:
{% filter indent(8, True) -%}
{{ hostvars[groups.infra_nodes|first].ocp4_deployment_cluster_nodes_labels | to_nice_yaml }}
{% endfilter %}
{% endif %}
{% if groups.infra_nodes | d([]) | length > 0 %}
    thanosRuler:
      tolerations:
{% filter indent(8, True) -%}
{{ hostvars[groups.infra_nodes|first].ocp4_deployment_cluster_nodes_taints | to_nice_yaml }}
{% endfilter %}
      nodeSelector:
{% filter indent(8, True) -%}
{{ hostvars[groups.infra_nodes|first].ocp4_deployment_cluster_nodes_labels | to_nice_yaml }}
{% endfilter %}
{% endif %}
{% if groups.infra_nodes | d([]) | length > 0 %}
    prometheusOperator:
      tolerations:
{% filter indent(8, True) -%}
{{ hostvars[groups.infra_nodes|first].ocp4_deployment_cluster_nodes_taints | to_nice_yaml }}
{% endfilter %}
      nodeSelector:
{% filter indent(8, True) -%}
{{ hostvars[groups.infra_nodes|first].ocp4_deployment_cluster_nodes_labels | to_nice_yaml }}
{% endfilter %}
{% endif %}
