spec:
  registrySources:
{% if ocp4_deployment_cluster_registry_sources_allowed is defined %}
    allowedRegistries:
{% filter indent(4, True) %}
{{ ocp4_deployment_cluster_registry_sources_allowed | to_nice_yaml }}
{% endfilter %}
{% endif %}
{% if ocp4_deployment_cluster_registry_sources_insecure is defined %}
    insecureRegistries:
{% filter indent(4, True) %}
{{ ocp4_deployment_cluster_registry_sources_insecure | to_nice_yaml }}
{% endfilter %}
{% endif %}
