apiVersion: v1
kind: ConfigMap
metadata:
  name: csr-auto-approver-config
  namespace: csr-auto-approver
data:
  nodes: {% for node in (groups.infra_nodes | d([]) + groups.worker_nodes | d([]) + groups.storage_nodes | d([]) ) %}{{ hostvars[node].ocp4_deployment_nodes_fqdn | d(hostvars[node].inventory_hostname)}} {% endfor %}
  approver.sh: |-
    #!/bin/bash
    
    trap "exit" TERM

    EXPECTED_NODES=`cat /data/nodes`

    echo "Approving CSRs for the following nodes:"
    echo $EXPECTED_NODES

    while [ true ] ; do

        echo "$(date +'%Y-%m-%d_%H:%M:%S') Checking for pending CSRs..."
        PENDING_CSRS=`oc get csr | grep Pending | awk '{ print $1 }'`
        for CSR in $PENDING_CSRS; do
            NAME=`oc describe csr $CSR | grep "Common Name" | sed 's/.*system:node://'`
            echo "$(date +'%Y-%m-%d_%H:%M:%S') Checking if $NAME is part of EXPECTED_NODES"
            for NODE in $EXPECTED_NODES; do
                if [ "$NAME" = "$NODE" ] ; then
                    echo "$(date +'%Y-%m-%d_%H:%M:%S') $CSR $NAME == $NODE"
                    echo "$(date +'%Y-%m-%d_%H:%M:%S') $(oc adm certificate approve $CSR)"
                fi
            done
        done

        echo "Sleeping for 15 seconds..."
        for i in $(seq 1 15); do
          sleep 1
        done
    done