apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: local-mirror
spec:
  repositoryDigestMirrors:
  - mirrors:
    - {{ inventory_hostname }}:5000/ocp4/openshift4
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
    - {{ inventory_hostname }}:5000/ocp4/openshift4
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev